
/*
 * Utils
**/

.c,
.clear {
  clear: both;
}

.hide,
.hidden {
  display: none;
}

/*
 * CardWidget
**/

section.align-items-stretch .elementor-widget-CardWidget {
  height: 100%;
}
section.align-items-stretch .elementor-widget-container {
  height: 100%;
}
.CardWidget {
  box-shadow: 0 0 8px #888888;
  padding: 1em;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.CardWidget > * {
  margin-bottom: 10px;
}
.CardWidget > *:last-child {
  margin-bottom: 0;
}

.CardWidget .W1 {
  text-align: center;
}
.CardWidget h3 {
  font-size: 1.5em;
  text-align: center;
}
.CardWidget .W2 {
  text-align: center;
  align-items: center;
}
.CardWidget .W2 span {
  display: inline-block;
  width: 16%;
  border-bottom: 2px solid #CDCDCD;
  margin: 5px
}
.CardWidget .description p {
  color: #515151;
}
.CardWidget .W3 {
  text-align: center;
  margin: 1.2em 0;
}
.CardWidget .W3 a {
  background: var(--wco-light-link-color);
  color: var(--wco-light-bg-color);
  font-weight: bold;
}
