/*
 * Utils
**/
.c, .clear {
  clear: both;
}
.hide, .hidden {
  display: none;
}
section.align-items-stretch .elementor-widget-CardWidget, section.align-items-stretch .elementor-widget-container {
  height: 100%;
}
/* CardWidget */
.CardWidget {
  box-shadow: 0 0 8px #888888;
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.CardWidget > * {
  margin-bottom: 10px;
}
.CardWidget > *:last-child {
  margin-bottom: 0;
}
.CardWidget .W1 {
  text-align: center;
}
.CardWidget h1 {
  text-align: center;
}
.CardWidget .W2 {
  text-align: center;
  align-items: center;
}
.CardWidget .W2 span {
  display: inline-block;
  width: 16%;
  border-bottom: 2px solid #CDCDCD;
  margin: 5px;
}
.CardWidget .description p {
  color: #515151;
}
.CardWidget .W3 {
  text-align: center;
  margin: 1.2em 0;
}
.CardWidget .W3 a {
  background: var(--wco-light-link-color);
  color: var(--wco-light-bg-color);
  font-weight: bold;
}
.Card3d-20230107 {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 1.3s;
  perspective: 1200px;
}
.Card3d-20230107:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}
.Card3d-20230107:hover .cover:before {
  transform: translateZ(30px);
}
.Card3d-20230107:hover .cover:after {
  background-color: black;
}
.Card3d-20230107:hover .cover h1 {
  transform: translateZ(100px);
}
.Card3d-20230107:hover .cover .price {
  transform: translateZ(60px);
}
.Card3d-20230107:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.Card3d-20230107 .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 1.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.Card3d-20230107 .cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 1.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.Card3d-20230107 .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}
.Card3d-20230107 .cover.item-a {
  background-image: url("https://images.unsplash.com/photo-1520412099551-62b6bafeb5bb?auto=format&fit=crop&w=600&q=80");
}
.Card3d-20230107 .cover.item-b {
  background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?auto=format&fit=crop&w=600&q=80");
}
.Card3d-20230107 .cover.item-c {
  background-image: url("https://images.unsplash.com/photo-1525945518069-b924046d1385?auto=format&fit=crop&w=600&q=80");
}
.Card3d-20230107 .cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 1.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}
.Card3d-20230107 .cover .price {
  font-weight: 200;
  position: absolute;
  top: 55px;
  right: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 1.3s;
  z-index: 4;
  font-size: 2em;
  transform: translateZ(0px);
}
.Card3d-20230107 .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 1.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card3d-20230107 .card-back a, .Card3d-20230107 .card-back p {
  transform-style: preserve-3d;
  transition: ease transform 1.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}
.Card3d-20230107 .card-back a:hover {
  background-color: white;
  color: #0b0f08;
}
#Card3d_uiux_20230107 .cover {
  background: white url("https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000901/wasya_co_uiux.jpg") no-repeat center center;
  background-size: contain;
}
